<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BLOGdumps</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dumps/blogs">Blogs</a>
          </li>
          <% if (locals.user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/dumps/add-new">Add Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= user.fullname %>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/account/profile">change profile photo</a></li>
                <li><a class="dropdown-item" href="/blog/signin">Log Out</a></li> 
              </ul>
            </li>
          <% } else {%>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                register here
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/blog/signup">SIGN UP</a></li>
                <li><a class="dropdown-item" href="/blog/signin">LOG IN</a></li> 
              </ul>
            </li>
            <% }%>  
           
          
        </ul>
        <div class="user" style="border-radius: 50%;object-fit: cover; overflow: hidden;">
          <% if (locals.user) { %>
            <a href="/account/profile">

              <img style="height: 70px;" src="<%= user.profilephotoURL %>" alt="image could not be found">
            </a>
            
          <% } else {%>
            <a href="/account/profile">

              <img style="height: 70px;" src="/images/default.png" alt="">
            </a>
            <% } %>
        </div>
      </div>
    </div>
  </nav>