<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include("./partials/nav") %>
   <div style="height: 500px;display: flex;">
           <img  src="/images/default.png" class="figure-img img-fluid rounded" alt="...">          
    </div> 
    <a href="/account/upload">
        <button>upload new profile photo</button>
    </a>
    <%- include("./partials/script") %>
</body>
</html>